.button_menu_student{
	margin: 2px 3px;
	float: right;
	width: 90px;
	background: #cecece;
	cursor: pointer;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	font-size: 14px;
}

.button_menu_student:hover{
	background: #bcbcbc;
}
