#Title_material{
    font-size: 25px;
    padding-left: 10px;
}

/**************************/

#div_form_Material{
	border: 1px solid #cccccc;
	border-radius: 4px;
	width: 300px;
	left: 50%;
	margin-left: -150px; /*Half of width*/
	position: relative;
}

#div_form_Material h2{
	font-size: 20px;
	text-align: center;
	margin: 10px;
}


#div_form_Material input{
	width: 275px;
	font-size: 16px;
	margin: 10px;
	padding: 10px;
}

#div_form_Material select{
	width: 275px;
	font-size: 16px;
	margin: 10px;
	padding: 10px;
}

#div_form_Material button.button_close_modal{
	width: 25px;
	height: 25px;
	padding: 0px;
	float: right;
	color: #ffff00;
	background: #900000;
}

#div_form_Material button.button_close_modal:hover{
	background: #aa0000;
	cursor: pointer;
}

#div_form_Material button{
	width: 275px;
	font-size: 16px;
	margin: 10px;
	padding: 10px;
	color:#ffffff;
	background: #0000ff;
	border: 0px;
	border-radius: 3px;
}

#div_form_Material button:hover{
	background: #0000dd;
	cursor: pointer;
}

#div_form_Material span {
	font-size: 14px;
	margin: 0 10px;
	display: inline;
}

#AddContainer{
	display:none;
}
